
.vs/ComplexFactoryPattern/config/applicationhost.config
.vs/ComplexFactoryPattern/DesignTimeBuild/.dtbcache.v2
.vs/ComplexFactoryPattern/v16/.suo
ComplexFactoryPattern/bin/
ComplexFactoryPattern/obj/
